<h1>Edit question:</h1>

<%= form_for [@survey, @question] do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.label :answer %>
  <%= f.text_area :answer %>
  <p><%= f.submit %></p>
<% end %>
